body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Lato", sans-serif;
   background-color: #dff3e4;
}
html {
   scroll-behavior: smooth;
}
/* end general rules */

/* start header */
.header {
   /* padding-top & padding-bottom */
   padding-block: 10px;
   background-color: #171738;
   text-align: center;
}
.header img {
   height: 50px;
   width: 50px;
   cursor: pointer;
}

.div1 {
   margin-top: 10px;
   margin-left: 10px;
}
.title {
   text-align: center;
   margin-block: 40px 50px;
}

.title h1 {
   font-size: 2.4rem;
}
.title p {
   font-style: italic;
   color: #aaa7a7;
}

form {
   outline: 2px solid #2e1760;
   background-color: #5e3fa1;
   text-align: center;
   height: 40vh;
   width: 400px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding-block: 50px;
   color: white;
   border-radius: 10px;
   margin: 0 auto;
}

form label {
   font-weight: bold;
}

form .info {
   width: calc(100% - 65px);
   display: flex;
   justify-content: space-between;
   align-items: center;
}
form label {
   font-size: 1.1rem;
}
form input[type="text"],
form input[type="password"] {
   padding-block: 10px;
   padding-inline: 15px 0;
   border-radius: 20px;
   border: none;
   width: 230px;
   font-size: 1rem;
}

form input[type="text"]::placeholder,
form input[type="password"]::placeholder {
   color: #aaa7a7b2;
}
form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="number"]:focus {
   outline: none;
}

form button {
   padding-block: 15px;
   font-size: 1.2rem;
   padding-inline: 35px;
   border-radius: 30px;
   font-weight: bold;
   color: white;
   background-color: #161656;
   border: none;
   cursor: pointer;
   font-family: "Lato", sans-serif;
}

p#err {
   color: #ff0280;
   font-weight: bold;
}
