body {
   background-color: #2e1760;
   margin: 0 auto;
   padding: 0;
   font-family: Lato, sans-serif;
   height: 120vh;

 }
 
 :root {
   --main-color: #2e1760;
   --main-color-alt: #dff3e4;
   --main-transition: .3s;
   --main-padding: 100px;
   --section-background: #dff3e4;
   --enrolled : 100%;
   --unenrolled :0%
 }
 .header {
  /* padding-top & padding-bottom */
  padding-block: 10px;
  background-color: #171738;
  text-align: center;
}
.header img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}
 .stats {
   padding-block: var(--main-padding);
   background-size: cover;
   position: relative;
 }
 
 .stats:before {
   content: "";
   width: 100%;
   height: 150%;
   background-color: #dff3e4;
   position: absolute;
   top: 0;
   left: 0;
 }
 
 .stats .title, .stats {
   position: relative;
 }
 
 .stats .title {
   text-align: center;
   padding-bottom: 50px;
   font-size: clamp(2rem, 5vw, 2.6rem);
 }
 
 .stats .stats-holder {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
   margin-left: 50px;
   margin-right: 50px;
   
 }
 
 .stats .stat {
   height: 200px;
   opacity: .8;
   cursor: default;
   background-color: #fff;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   transition: all .5s;
   display: flex;
   position: relative;
 }
 
 .stats .stat:before, .stats .stat:after {
   content: "";
   height: 0;
   width: 2px;
   background-color: var(--main-color);
   transition: all .5s;
   position: absolute;
 }
 
 .stats .stat:before {
   bottom: 0;
   left: 0;
 }
 
 .stats .stat:after {
   top: 0;
   right: 0;
 }
 
 .stats .stat:hover:before, .stats .stat:hover:after {
   height: 100%;
 }
 
 .stats .stat:hover {
   opacity: 1;
 }
 
 .stats .stat i {
   font-size: 2.1rem;
 }
 
 .stats .stat span {
   padding-block: 15px;
   font-size: 3rem;
   font-weight: bold;
 }
 
 .stats .stat em {
   color: var(--main-color);
   font-size: 1.2rem;
   font-weight: bold;
 }
 
 .i-have-a-pen-i-have-a-pineapple-huuuu-apple-pen, h1 {
   text-align: center;
   color: #dff3e4;
   place-content: center;
   display: grid;
   inset: 0;
 }
 .another-container{
   height: 115%;
   width: 100%;

 }
 .i-have-a-pen-i-have-a-pineapple-huuuu-apple-pen {
   margin-top: 10%;
   
 }
 
 .i-have-a-pen-i-have-a-pineapple-huuuu-apple-pen h1 {
   margin:20%;
 }
 .piechart {
   display: block;
   position: relative;
   width: 400px;
   height: 400px;
   border-radius: 50%;
   background-image: conic-gradient(
       pink 0% var(--enrolled), 
       lightblue var(--unenrolled));
}
.another-container, .piechart {
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.piechart :hover ::after{
  
}
 