body {
   background-color: #dff3e4;
   margin: 0 auto;
   padding: 0;
   font-family: Lato, sans-serif;
   height: 120vh;
}

:root {
   --main-color: #2e1760;
   --main-color-alt: #dff3e4;
   --main-transition: 0.3s;
   --main-padding: 100px;
   --section-background: #dff3e4;
   --enrolled: 50%;
   --unenrolled: 50%;
}
.header {
   /* padding-top & padding-bottom */
   padding-block: 10px;
   background-color: #171738;
   display: flex;
   justify-content: center;
   align-items: center;
}
.header img {
   height: 50px;
   width: 50px;
   cursor: pointer;
   translate: 100%;
}

.header a {
   display: grid;
   place-items: center;
   text-decoration: none;
   translate: 450%;
   height: 40px;
   padding-inline: 15px;
   border-radius: 30px;
   border: 0;
   background-color: white;
   color: #2e1760;
   font-size: 1.03rem;
   font-weight: bold;
   cursor: pointer;
}

.stats {
   padding-block: var(--main-padding);
   background-size: cover;
   position: relative;
}

.stats:before {
   content: "";
   width: 100%;
   height: 100%;
   background-color: #dff3e4;
   position: absolute;
   top: 0;
   left: 0;
}

.stats .title,
.stats {
   position: relative;
}

.stats .title {
   color: #0f032a;
   text-align: center;
   padding-bottom: 50px;
   font-size: clamp(2rem, 5vw, 2.6rem);
}

.stats .stats-holder {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
   margin-left: 50px;
   margin-right: 50px;
}

#stat-holder-enrolled {
   background-color: #c5c5f5;
}
#stat-holder-unenrolled {
   background-color: #b4d3f2;
}

.stats .stat {
   height: 200px;
   opacity: 0.8;
   cursor: default;
   background-color: #fff;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   transition: all 0.5s;
   display: flex;
   position: relative;
   color: #0f032a;
}

.stats .stat:before,
.stats .stat:after {
   content: "";
   height: 0;
   width: 2px;
   background-color: var(--main-color);
   transition: all 0.5s;
   position: absolute;
}

.stats .stat:before {
   bottom: 0;
   left: 0;
}

.stats .stat:after {
   top: 0;
   right: 0;
}

.stats .stat:hover:before,
.stats .stat:hover:after {
   height: 100%;
}

.stats .stat:hover {
   opacity: 1;
}

.stats .stat i {
   font-size: 2.1rem;
}

.stats .stat span {
   padding-block: 15px;
   font-size: 3rem;
   font-weight: bold;
}

.stats .stat em {
   color: var(--main-color);
   font-size: 1.2rem;
   font-weight: bold;
}

.i-have-a-pen-i-have-a-pineapple-huuuu-apple-pen,
h2 {
   text-align: center;
   color: #2e1760;
   place-content: center;
   display: grid;
   inset: 0;
}

.i-have-a-pen-i-have-a-pineapple-huuuu-apple-pen {
   margin-bottom: 20px;
}

.piechart {
   display: block;
   position: relative;
   width: 400px;
   height: 400px;
   border-radius: 50%;
   background-image: conic-gradient(#b4d3f2 var(--enrolled), #c5c5f5 0%);
   /* lightblue var(--unenrolled) */
}
.another-container,
.piechart {
   margin-bottom: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}
h3 {
   margin-top: 30px;
   margin-bottom: 10px;
}
