body {
   margin: 0 auto;
   padding: 0;
   font-family: "Lato", sans-serif;
   background-color: #2e1760;
}
:root {
   --main-color: #2e1760;
   --main-color-alt: #dff3e4;
   --main-transition: 0.3s;
   --main-padding: 100px;
   --section-background: #dff3e4;
}

.header {
   /* padding-top & padding-bottom */
   padding-block: 10px;
   background-color: #171738;
   text-align: center;
}
.header img {
   height: 50px;
   width: 50px;
   cursor: pointer;
}

.stats {
   padding-block: var(--main-padding);
   background-size: cover;
   position: relative;
}

.stats::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background-color: #dff3e4;
}

.stats .title,
.stats {
   position: relative;
}

.stats .title {
   font-size: clamp(2rem, 5vw, 2.6rem);
   text-align: center;
   padding-bottom: 50px;
   translate: 0 -60px;
}

.stats .stats-holder {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
   /* margin-left: 500px; */
   margin-inline: 200px;
   margin-bottom: 0;
}

.stats .stat {
   background-color: white;
   height: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   opacity: 0.8;
   transition: 0.5s;
   cursor: default;
}

.stats .stat::before,
.stats .stat::after {
   content: "";
   height: 0;
   width: 2px;
   background-color: var(--main-color);
   position: absolute;
   transition: 0.5s;
}

.stats .stat::before {
   bottom: 0;
   left: 0;
}

.stats .stat::after {
   top: 0;
   right: 0;
}

.stats .stat:hover::before,
.stats .stat:hover::after {
   height: 100%;
}

.stats .stat:hover {
   opacity: 1;
}

.stats .stat i {
   font-size: 2.1rem;
}

.stats .stat span {
   padding-block: 15px;
   font-size: 3rem;
   font-weight: bold;
}

.stats .stat em {
   color: var(--main-color);
   font-size: 1.2rem;
   font-weight: bold;
   margin-left: 20px;
}

.i-have-a-pen-i-have-a-pineapple-huuuu-apple-pen,
h1 {
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   display: grid;
   justify-content: center;
   align-content: center;
   text-align: center;
   color: #dff3e4;
}
.i-have-a-pen-i-have-a-pineapple-huuuu-apple-pen {
   margin-top: 20px;
   height: 130vh;
}
.i-have-a-pen-i-have-a-pineapple-huuuu-apple-pen h1 {
   translate: 0 100%;
}

.main_box {
   width: 800px;
   height: 500px;
   z-index: 100;
   margin-left: 290px;
   margin-top: 50px;
}
#mychart {
   color: white;
}
